@{
    ViewData["Title"] = "Fag el-Gamous Burial Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="text-center">
        <img src="~/realBeetle2.png">
    </div>
    
    <div class="text-center">
        <h1 class="display-3">Welcome to Fag el-Gamous</h1>
    </div>
    
    <div class="text-center">
        <div class="font-weight-bold textBack rounded mb-4">
            <br /><br />
            <p class="">
                Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation
                (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the interesting insights gained
                by studying the Fag el-Gamous mummies.
            </p> <br />
            <p>
                During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple
                databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the
                textiles used), gender, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. And, of course, there are many,
                many photographs. Offsite, researchers have performed a variety of analyses on the items excavated including carbon dating, DNA sequencing, and others.
            </p> <br />
        </div>

        <a class="btn buttonBack" asp-controller="Home" asp-action="BurialList"><strong>Search the Burial Information</strong></a>
    </div>
    <br />
</body>