@{
    ViewData["Title"] = "Fag el-Gamous Burial Records";
}
<body class="bg-dark text-light">
    <div class="text-center">
        <h1 class="display-4">Welcome to Fag el-Gamous</h1>

        <br /><br />
        <a class="btn btn-block" asp-controller="Home" asp-action="List">Look at the Burial Information</a>
    </div>
</body>
