@model BYUArchaeologyEgypt.Models.Location

@{
    ViewData["Title"] = "Location Input";
}

<!--
    Currently we3 are sleeping on this page. This is an extra bit of functionaality so we will get here if we have time
-->
<h1>LocationEdit</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LocationEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BurialLocationNS" class="control-label"></label>
                <input asp-for="BurialLocationNS" class="form-control" />
                <span asp-validation-for="BurialLocationNS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationEW" class="control-label"></label>
                <input asp-for="BurialLocationEW" class="form-control" />
                <span asp-validation-for="BurialLocationEW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairNS" class="control-label"></label>
                <input asp-for="LowPairNS" class="form-control" />
                <span asp-validation-for="LowPairNS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairNS" class="control-label"></label>
                <input asp-for="HighPairNS" class="form-control" />
                <span asp-validation-for="HighPairNS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairEW" class="control-label"></label>
                <input asp-for="LowPairEW" class="form-control" />
                <span asp-validation-for="LowPairEW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairEW" class="control-label"></label>
                <input asp-for="HighPairEW" class="form-control" />
                <span asp-validation-for="HighPairEW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subplot" class="control-label"></label>
                <input asp-for="Subplot" class="form-control" />
                <span asp-validation-for="Subplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
