@model Burial
<div class="rounded textBack text-center font-weight-bold">
    <p>
        You did it!
    </p>

    <div class="text-center">
        <div class="">
            <a asp-controller="Home" asp-action="BiologicalSampleList" asp-route-bid="@Model.BurialID" class="btn btn-sm buttonBack mr-1">
                Return to detail page
            </a>

            <a asp-controller="Home" asp-action="BurialList"  class="btn btn-sm buttonBack">
                Return to the list of Burials
            </a>
        </div>
    </div>
</div>
    